<%- include('partials/head') %>
<%- include('partials/navbar') %>
<body>
    
    <div class="container">
        <h1>Currently seeing the <%= name %> subreddit</h1>
        <h2><%= description %></h2>
        <p><%= subscribers %> total subscribers</p>
        <hr>
        <% for (let post of posts) { %>
            <div>
                <p><%= post.title %> - <b><%= post.author %></b></p>
                
                <% if (post.img) { %>
                    <img src="<%= post.img %>" alt="">
                <% } %>
            </div>

            <hr>
        <% } %>
    </div>
</body>
</html>